doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/mdl/material.min.css')
    script(src='/mdl/material.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="app-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header")
      header(class="mdl-layout__header")
        div(class="mdl-layout__header-row") 
          span(class="mdl-layout-title") Filmnote
          div(class="mdl-layout-spacer")
      div(class="mdl-layout__drawer")
        span(class="mdl-layout-title") Filmnote
        nav(class="mdl-navigation")
          a(class="mdl-navigation__link", href="/rolls") Rolls
          a(class="mdl-navigation__link", href="/bodies") Camera Bodies
          a(class="mdl-navigation__link", href="/lenses") Lenses
          a(class="mdl-navigation__link", href="/filters") Filters
      main(class="mdl-layout__content")
        div(class="filmnote-content")
          block content