.app-layout-transparent .mdl-layout__header,
.app-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.filmnote-content {
  padding: 20px;
}

.lens-card-wide.mdl-card {
  width: 100%;
}

.lens-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: rgb(33,150,243);
  background: url('/images/generic_lens.jpg') center / cover;
}

.lens-card-wide > .mdl-card__menu {
  color: #fff;
}

a.filmnote-fixed-add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

div span.filmnote-success-message {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #4caf50;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
}