extends ../layout

block content
  if success
    div
      span(class="filmnote-success-message") Success!

  form#formAddLens(name="createlens",method="post",action="#{editing ? '/lenses/'+lens._id : '/lenses/add'}")
    div(class="mdl-textfield mdl-js-textfield")
      input#name(type="text",
        placeholder="name",
        name="name",
        class="mdl-textfield__input",
        value="#{editing ? lens.name : ''}")
      label(class="mdl-textfield__label", for="name")
    br
    div(class="mdl-textfield mdl-js-textfield")
      input#max_aperture(type="text",
        placeholder="max aperture",
        name="max_aperture",
        class="mdl-textfield__input",
        pattern="-?[0-9]*(\.[0-9]+)?",
        value="#{editing ? lens.max_aperture : ''}")
      label(class="mdl-textfield__label", for="max_aperture")
      span(class="mdl-textfield__error") Input is not a number!
    br
    if editing
      button#submit(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored add-button", type="submit") Update
    else
      button#submit(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored add-button", type="submit") Add
  if editing
    br
    form#formRemoveLens(name="removelens",method="post",action="/lenses/#{lens._id}")
      input#delete(name="delete", value="true", type="hidden")
      button#delete(class="mdl-button mdl-js-button mdl-button--accent", name="delete") Delete