extends ../layout

block content
  h3 Lens List

  div(class="mdl-grid")
    div(class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone")
      each lens in lenses
        div(class="lens-card-wide mdl-card mdl-shadow--2dp")
          div(class="mdl-card__title")
            h2(class="mdl-card__title-text") #{lens.name}
          div(class="mdl-card__actions mdl-card--border")
            a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect",
              href="/lenses/#{lens._id}") Edit
        br

  //- div(class="mdl-grid")
  //-   div(class="mdl-cell mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--3-col-phone")
  //-   div(class="mdl-cell mdl-cell--1-col")
  a(class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent filmnote-fixed-add-button", href="/lenses/add")
    i(class="material-icons") add